<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <title>EJS-BOILERPLATE - BODYFRIEND</title>
    <meta name="description" content="EJS-BOILERPLATE">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no">
    <link rel="stylesheet" href="/styles/common/common.css">
  </head>
  <body id="EJS-BOILERPLATE">
    Hello! EJS-BOILERPLATE
    <script src="/scripts/pages/example.js"></script>
    <script src="/scripts/libs/jquery/jquery.min.js"></script>
    <script src="/scripts/common/common.js"></script>
  </body>
</html>
